/* body {
  border: 8px solid #f4f6f8;
} */

/* 侧边导航 */
.side-nav {
  text-align: center;
  background-color: #fff;
}

.side-nav-directory {
  position: absolute;
  right: 0;
}

.side-nav-directory svg {
  margin: .5em;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

/* .side-nav::before {
  content: '';
  display: block;
  border: 50px solid;
  border-color: turquoise transparent transparent;
  width: 0;
} */

.nav-logo {
  margin-top: 180px;
}

.author-info span {
  font-size: 14px;
  color: #464646;
}

.nav-container {
  position: fixed;
  box-sizing: border-box;
  width: 75%;
  padding: 1.2em;
  top: 0;
  right: .2em;
  text-align: center;
  margin: 0 auto;
  /* padding: 1.2em; */
  background-color: #fff;
  box-shadow: rgba(26, 26, 26, 0.1) 0px 1px 3px;
}

.nav-logo {
  text-align: center;
}

.head-logo {
  font-size: 28px;
  color: #464646;
  /* font-family: "Playfair Display",serif; */
  font-weight: 400;
  /* color: 	#00008B; */
  transition: color .5s ease-in-out;
}

.nav-logo h1 {
  margin-top: .3em;
  margin-bottom: 0;
}

.nav-logo img {
  border-radius: 3px;
}

/* 导航栏 */

.nav-item {
  display: flex;
  justify-content: space-between;
}

.nav-item-ul {
  display: inline-block;
  z-index: 1;
  padding: 0 20px;
}

.nav-item-ul {
  position: relative;
}

.nav-item-li {
  margin-right: 20px;
}

.nav-item .nav-item-li a {
  font-weight: 300;
}

.active a {
  /* color: #F4606C; */
  color: #b70038;
}

.search-btn {
  display: inline-block;
}

.search-btn:hover {
  cursor: pointer;
}

/* 导航模态框 */
.menu-dialog, .search-dialog {
  display: none;
}

.modal-dialog {
  /* display: none;   */
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  background-color: rgba(255, 255, 255, .95);
  z-index: 3;
  transition: all .3s ease-in-out;
}

.modal-head h1 {
  margin: 0;
  padding: 0;
}

.modal-head {
  margin-top: 58px;
}

.modal-nav-item-li {
  font-size: 22px;
  line-height: 29px;
  font-weight: 200;
  display: block;
  border-bottom: 1px solid rgba(185, 178, 162, 0.15);
}

.modal-nav-item-li a {
  color: #262626;
  font-size: 15px;
  font-family: "roboto-mono", "Roboto Mono", sans-serif;
  letter-spacing: 5px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 25px;
  display: inline-block;
}

.modal-body {
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.modal-footer {
  min-height: 150px;
}

.social {
  text-align: center;
  margin: 1em;
}

.social svg {
  margin-right: .5em;
  width: 20px;
  height: 20px;
}

.social li a {
  font-size: 18px;
  /* color: blue; */
  margin: 0 5px;
  padding: 5px;
  transition: all .5s ease-in-out; 
}

.modal-footer li {
  font-size: 22px;
}

.modal-close {
  font-size: 32px;
  position: absolute;
  transition: .7s;
}

.modal-close:hover {
  color: #00008B;
  cursor: pointer;
  transform: rotate(90deg);  
  -webkit-transform: rotate(90deg);  
  -moz-transform: rotate(90deg);  
  -o-transform: rotate(90deg);  
  -ms-transform: rotate(90deg);  
}

.mobile-nav {
  display: none;
}

.mobile-nav .search {
  margin-right: 15px;
  width: 25px;
  line-height: 25px;
  height: 24px;
}

.menu {
  height: 25px;
  width: 25px;
  position: relative;
}
.menu:before, .menu:after { 
   content: "";
   display: block; 
   width: 25px; 
   height: 1px; 
   background: #000; 
   border-radius: 8px; 
   position: absolute; 
   left: 0; 
}
.menu:before { top: 5px; box-shadow: 0 7px #000; }
.menu:after { bottom: 5px; }

.searh-body-icon {
  position: absolute;
}


/* 首页文章 */
.content {
  box-sizing: border-box;
  margin-top: 2em;
  padding: 2em;
  min-height: 90vh;
}

.post a {
  color: #5f5f5f;
}

.post {
  border-bottom: 1px solid #f2f2f2;
  line-height: 1.9em;
}

.post-title h1{
  margin-bottom: .4em;
  transition: all 1s ease-in-out;
}

.post-title a {
  display: inline-block;
  position: relative;
}

.post-title a::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  border-bottom: solid;
  transition: width .2s ease-in-out;
  transform: translate(-50%);
}

.post-title a:hover::after {
  width: 100%;
}

/* .post-title h1 a:hover {
  border-bottom: 1px solid black;
} */

.post-mate, .post-mate i, .post-tags li a {
  font-size: 12px;
  color: #999;
}

.post-tags {
  display: inline-block;
}

.post-tags li {
  margin-left: .5em;
}

.post-tags a:hover {
  color: #428bca;
}

@media (max-width: 767px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
    width: 100%;
    border-left: 0;
  }

  .nav-logo {
    margin-top: 120px;
  }

  .mobile-nav {
    display: inline-flex;
  }

  .nav-logo h1 a {
    font-size: 24px;
  }

  .nav-item {
    display: none;
  }

  .modal-head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-close {
    position: relative;
  }

  .modal-head-container h1 a {
    font-size: 24px;
  }

  .modal-head {
    margin: 20px 0 0px 4px; 
  }

  /* article .post-title {
    padding-left: 16px;
    border-left: 4px solid #00008B;
    font-family: "Playfair Display",serif;
    font-size: 18px;
    color: #696969;
  } */
}
@media (min-width: 768px) and (max-width: 991px) {
  .archive {
    text-align: center;
  }
  .nav-container {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .archive {
    text-align: center;
  }
  .nav-container {
    width: 100%;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    /* margin: auto; */
  }

  .modal-close {
    top:60px;
    right: 30px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .modal-close {
    top:60px;
    right: 30px;
  }
}
@media (min-width: 1200px) {
  .side-nav {
    position: fixed;
    width: 24%;
    height: 100%;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
  }

  .content {
    float: right;
    width: 75%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    margin: 4em .2em .2em 0;
  }

  .container {
    width: 1170px;
  }

  .modal-close {
    top:60px;
    right: 30px;
  }

  .tags {
    float: right;
    width: 75%;
  }
}

/* 搜索框 */
.search-body {
  width: 50%;
}

.search-body form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-body form input {
  background-color: #f4f6f8;
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: 0;
  height: 2.5em;
  padding-left: 30px;
  font-size: 20px;
}

.searh-body-icon {
  position: absolute;
  left: 10px;
}

@media (max-width: 767px) {
  .search-body {
    width: 90%;
  }
}

/* 每篇文章 */
article {
  margin-top: 2em;
  line-height: 1.9em;
}

.article-head h1 {
  margin-top: 0;
  font-size: 2em;
}

/* 悬浮目录 */
.aside {
  position: fixed;
}

/* 归档 */

.archive-year {
  /* margin-top: 2em;
  font-size: 22px; */
  color: #999;
  font-family: Courier,Menlo,Monaco,Consolas,"Courier New",monospace;
}

.year-list ul {
  list-style-type: disc;
  margin-top: 1em;
}

.year-list li {
  display: block;
  padding: 5px 15px;
  transition: all .2s ease-in-out;
}

.year-list li:hover {
  margin-left: 4px;
  border-left: 3px solid #00008B;
} 

.year-list time {
  color: #666;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 13px;
}

.year-list li a {
  /* font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif; */
  font-family: Consolas, "Xin Gothic", "lucida grande", 
                  "lucida sans unicode", lucida, helvetica, 
                  "Hiragino Sans GB", "Microsoft YaHei", 
                  "WenQuanYi Micro Hei", sans-serif;
  color: #111;
  font-size: 16px;
  line-height: 1.7;
}

.year-list li a:hover {
  color: #428bca;
}

/* 分页 */
.page-nav {
  padding: 2em .2em;
}

.page-nav a {
  box-sizing: border-box;
  background-color: #fff;
  color: #666;
  border-radius: 4px;
  opacity: .8;
  transition: all .2s ease-in-out;
}

.page-nav a:hover {
  opacity: 1;
  color: 00008B;
}

.next-page {
  float: right;
}

.pre-page {
  float: left;
}

/* 评论 */

#comment {
  margin-top: 100px;
}

/* 返回顶部 */

.return-top {
  display: none;
  position: fixed;
  right: .5em;
  bottom: 3.8em;
  z-index: 2;
}

.return-top:hover::before {
  content: '返回顶部';
  display: block;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
  font-size: 14px;
  padding: .3em;
  border-radius: 5px;
  top: -35px;
  right: .2em;
  white-space:nowrap;
}

.return-top:hover::after {
  content: '';
  display: block;
  position: absolute;
  border: 3px solid;
  border-color: rgba(0, 0, 0, .7) transparent transparent ;
  top: -6px;
  right: 1em;;
}

/* 标签页 */
.tags {
  box-sizing: border-box;
}

.tags-box {
  overflow: hidden;
}

.tags-box span {
  display: none;
}

.tags-box a {
  float: left;
  padding: 8px 20px;
  margin: 0 8px 8px 0;
  font-size: 14px;
  font-weight: 400;
  font-family: Rubik,Helvetica,Arial,sans-serif;
  line-height: 22px;
  color: #5d738d;
  background-color: #f4f6f8;
  -webkit-transition: .5s;
  transition: .5s;
}

.tags-box a:hover {
  color: black;
} 

.tags-total {
  text-align: right;
}

/* 手机端首页 */
@media (max-width: 1199px) {
  .side-nav {
    padding: 8em 0;
    /* background: linear-gradient(to bottom, #56ccf2, #2f80ed); */
    background: #56ccf2;
  }

  .nav-container {
    background-color: transparent;
    box-shadow: none;
  }

  .content {
    box-sizing: border-box;
    /* margin-top: 2em; */
    margin: .5em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background: #fff;
  }

  .nav-logo {
    margin-top: 80px;
  }

  .nav-container {
    border: 0;
  }

  .head-logo {
    color: #fff;
  }
  .author-info span {
    color: #fff;
  }
}

/* 底部导航栏 */
.foot-nav {
  float: right;
  margin: .5em;
  text-align: center;
}

.foot-nav ul {
  display: inline-block;
}

.foot-nav li {
  margin-right: 5px;
}

.foot-nav li span {
  color: #003569;
  margin: .5em;
}

.mylogo {
  margin-left: 16em;
  margin-right: 2em;
  color: #999;
}

